@import "tailwindcss";
*, ::after, ::before{
    font-family: "Poppins";
}
.nav-active{
    position:relative;

}
.nav-active::before{
    content:"";
    background-color: green;
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -2px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease-in-out;
    animation:anim 0.6s ease forwards;
}
@-webkit-keyframes anim{
    to{
        width: 100%;
    }
}
@keyframes anim {
    to{
        width: 100%;
    }
}
